<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="content">
    <div id="wrap">
    <form th:action="@{'/games/admin/games/' + ${games.number}}" method="get" th:object="${games}">

        <div id="select" th:object="${gameSearchDto}">
            <select style="width:200px" class="form-select form-select-lg mb-3" th:field="*{searchDateType}">
                <option value="all">전체기간</option>
                <option value="1d">1일</option>
                <option value="1w">1주</option>
                <option value="1m">1개월</option>
                <option value="3m">3개월</option>
                <option value="6m">6개월</option>
                <option value="1y">1년</option>
            </select>
            <select style="width:200px" class="form-select form-select-lg mb-3" th:field="*{searchReleased}">
                <option value="">전체</option>
                <option value="RELEASED">출시</option>
                <option value="UN_RELEASED">미출시</option>
            </select>
            <select style="width:200px" class="form-select form-select-lg mb-3" th:field="*{searchBy}">
                <option value="gameTitle">게임제목</option>
                <option value="createdBy">등록자</option>
            </select>
            <input th:field="*{searchQuery}" type="text" class="form-control" placeholder="검색어를 입력해주세요">
            <button id="searchBtn" type="submit" class="btn btn-dark">검색</button>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">게임코드</th>
                <th scope="col">게임제목</th>
                <th scope="col">개발사</th>
                <th scope="col">등록자</th>
                <th scope="col">등록일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="game, status: ${games.getContent()}">
                <th scope="row" th:text="${game.id}"></th>
                <td>
                    <a th:href="'/games/admin/' + ${game.id}" th:text="${game.gameTitle}"></a>
                </td>
                <td th:text="${game.developer}"></td>
               <!-- <td th:text="${game.released == T(com.gamego.constant.Released).RELEASED} ? '출시' : '미출시'"></td>-->
                <td th:text="${game.createdBy}"></td>
                <td th:text="${game.regDate}"></td>
            </tr>
            </tbody>
        </table>

        <div th:with="start=${(games.number/maxPage) * maxPage + 1}, end=(${(games.totalPages == 0) ? 1 : (start + (maxPage - 1)
        < games.totalPages ? start + (maxPage - 1) : games.totalPages)})">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${games.first}?'disabled'">
                        <a class="page-link" th:onclick="'javascript:page(' + ${games.number - 1} + ')'">이전</a>
                    </li>
                    <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${games.number eq page-1}?'active':''">
                        <a th:onclick="'javascript:page(' + ${page - 1} + ')'" th:inline="text" class="page-link">[[${page}]]</a>
                    </li>

                    <li class="page-item" th:classappend="${games.last}?'disabled'">
                        <a th:onclick="'javascript:page(' + ${games.number + 1} + ')'" aria-label='Next' class="page-link">
                            <span aria-hidden='true'>다음</span>
                        </a>
                    </li>
                </ul>
        </div>


    </form>
    </div>
</div>

<th:block layout:fragment="script">
<script th:inline="javascript">

        $(document).ready(function(){
            $("#searchBtn").on("click",function(e) {
                e.preventDefault();
                page(0);
            });
        });

        function page(page){
            var searchDateType = $("#searchDateType").val();
            var searchReleased = $("#searchReleased").val();
            var searchBy = $("#searchBy").val();
            var searchQuery = $("#searchQuery").val();

            location.href="/games/admin/games/" + page + "?searchDateType=" + searchDateType
            + "&searchReleased=" + searchReleased
            + "&searchBy=" + searchBy
            + "&searchQuery=" + searchQuery;
        }

    </script>
</th:block>

<th:block layout:fragment="css">
    <style>
        select{
            margin-right:10px;
        }
        #wrap{
            max-width: 1000px;
            margin: 100px auto;
        }
        #select{
            display: inline-block;
        }


    </style>
</th:block>
</body>
</html>