<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

  <h1>게임 목록</h1>
  <table border="1">
      <tr>
          <th>게임제목</th>
          <th>개발사</th>
          <th>장르</th>
          <th>플랫폼</th>
      </tr>
      <tr th:each="gameDto, status: ${gameListDto}">
          <td th:text="${gameDto.gameTitle}"></td>
          <td th:text="${gameDto.developer}"></td>
          <td th:text="${gameDto.genre}"></td>
          <td th:text="${gameDto.platform}"></td>
      </tr>
  </table>

</body>
</html>