<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="content">

    <div id="wrap">
        <form method="post" enctype="multipart/form-data" th:object="${gameDto}">

            <p class="h2">게임 등록</p>
            <input type="hidden" th:field="*{id}">
            <div class="input">
                <div id="select">
                    <select class="form-select" th:field="*{released}">
                        <option value="RELEASED">출시</option>
                        <option value="UN_RELEASED">미출시</option>
                    </select>
                </div>
            </div>
            <div class="input">
                <div class="input-group mb-3">
                    <span class="input-group-text">제목</span>
                    <input type="text" th:field="*{gameTitle}" class="form-control" placeholder="제목을 입력해주세요">
                </div>
                <p th:if="${#fields.hasErrors('gameTitle')}" th:errors="*{gameTitle}" class="error"></p>
            </div>
            <div class="input">
                <div class="input-group mb-3">
                    <span class="input-group-text">개발사</span>
                    <input type="text" th:field="*{developer}" class="form-control" placeholder="개발사를 입력해주세요">
                </div>
                <p th:if="${#fields.hasErrors('developer')}" th:errors="*{developer}" class="error"></p>
            </div>
            <div class="input">
                <div class="input-group mb-3">
                    <span class="input-group-text">장르</span>
                    <input type="text" th:field="*{genre}" class="form-control" placeholder="장르를 입력해주세요">
                </div>
                <p th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}" class="error"></p>
            </div>
            <div class="input">
                <div class="input-group mb-3">
                    <span class="input-group-text">플랫폼</span>
                    <input type="text" th:field="*{platform}" class="form-control" placeholder="플랫폼을 입력해주세요">
                </div>
                <p th:if="${#fields.hasErrors('platform')}" th:errors="*{platform}" class="error"></p>
            </div>
            <div class="input">
                <div class="input-group mb-3">
                    <span class="input-group-text">출시일</span>
                    <input type="text" th:field="*{releaseDate}" class="form-control" placeholder="출시일을 입력해주세요">
                </div>
                <p th:if="${#fields.hasErrors('releaseDate')}" th:errors="*{releaseDate}" class="error"></p>
            </div>
            <div class="input">
                <div class="input-group">
                    <span class="input-group-text">게임 설명</span>
                    <textarea class="form-control" th:field="*{gameDetail}" rows="8"></textarea><br>
                </div>
                <p th:if="${#fields.hasErrors('gameDetail')}" th:errors="*{gameDetail}" class="error"></p>
            </div>

            <div th:if="${#lists.isEmpty(gameDto.gameImgDtoList)}"> <!-- 게임 이미지 정보를 담고 있는 리스트가 비어있으면 등록을 하는 경우 -->
                <div th:each="num: ${#numbers.sequence(1,5)}">
                    <label class="imgName" th:text="게임이미지 + ${num}"></label>
                    <input id="upload1" type="file" class="form-control" name="gameImgFile">
                </div>
            </div>

            <div th:if="${not #lists.isEmpty(gameDto.gameImgDtoList)}">
                <div class="form-group" th:each="gameImgDto, status: ${gameDto.gameImgDtoList}">
                    <label class="imgName"
                           th:text="${not #strings.isEmpty(gameImgDto.oriImgName)} ? ${gameImgDto.oriImgName} : '게임이미지' + ${status.index+1}"></label>
                    <input id="upload2" type="file" class="form-control" name="gameImgFile">
                    <input type="hidden" name="gameImgIds" th:value="${gameImgDto.id}"> <!-- 수정시 어떤 이미지가 수정됬는지 알기 위해
                    게임 이미지의 아이디를 hidden 으로 숨겨놈-->

                </div>
            </div>

            <div th:if="${#strings.isEmpty(gameDto.id)}">
                <button id="btn1" th:formaction="@{/games/admin/new}" type="submit" class="btn btn-dark">저장</button>
            </div>

            <div th:unless="${#strings.isEmpty(gameDto.id)}">
                <button id="btn3" th:formaction="@{'/games/admin/delete'}" type="submit" class="btn btn-dark mt-3" >삭제</button>
                <button id="btn2" th:formaction="@{'/games/admin/' + ${gameDto.id} }" type="submit" class="btn btn-dark mt-3" style="margin-right: 15px;">수정</button>
            </div>

            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        </form>
    </div>

</div>

<th:block layout:fragment="script">

    <script th:inline="javascript">
        $(document).ready(function(){
            var errorMessage = [[${errorMessage}]]; //등록 실패시 에러 출력
            if(errorMessage != null){
                alert(errorMessage);
            }

        });



    </script>

</th:block>

<th:block layout:fragment="css">

    <style>
        #select{
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .imgName{
            margin-top: 20px;
        }
        #upload2{

        }
        .error {
            color: red;
        }
        #wrap{
            max-width: 750px;
            margin: 75px auto;
            height: 1100px;
        }
        #btn1{
            margin-top: 20px;
            float: right;
        }
        #btn2{
            margin-top: 20px;
            float: right;
        }
        #btn3{
            margin-top: 20px;
            float: right;
        }
        .input{
            margin-top: 25px;
        }
    </style>
</th:block>

</body>
</html>